name: Python application test with GitHub Actions

on:
  pull_request:
    branches:
      - develop
      - release
      - main
  push:
    branches:
      - develop
      - release
      - feature/*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - name: Install dependencies
        run: |
          make install
      - name: Format code
        run: |
          make format
      - name: Lint code
        run: |
          make lint
      - name: Test code
        run: |
          make test